body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:	#F2D2BD;
}

.calc-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    width: 320px;
    height: 500px;
    background-color: beige;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.calc-window {
    box-sizing: border-box;
    padding-right: 5px;
    width: 328px;
    height: 200px;
    background-color: black;
    color: white;
    font-size: 70px;
    text-align: right;
    
}

[class ^="calc-row"]{
    display: flex;
}

.calc-row5 {
    width: 102.5%;
}

[class ^="item"]{
    width: 80px;
    height: 80px;
    background-color: orange;
    border: black 1px solid;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.item19 {
    width: 162px;
    height: 80px;
    background-color: darkorange;
    border: black 1px solid;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

